Source: iutf
Section: utils
Priority: optional
Maintainer: Aleksandr Silaev <sasasilaev27@gmail.com>
Build-Depends: debhelper-compat (= 13)
    meson,
    ninja-build,
    gcc,
    libglib2.0-dev
Standarts-Version: 4.6.0
Homepage: https://github.com/gnom2949/IUTF

%Package: libiutf-dev
Architecture: any-amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Int Unified Text Format SOURCE, libiutf shared libraries and other includes
