Source: iutf
Section: utils
Priority: optional
Maintainer: Aleksandr Silaev <sasasilaev27@gmail.com>
Build-Depends: debhelper-compat (= 13),
    meson,
    ninja-build,
    gcc,
    libglib2.0-dev
Standards-Version: 4.6.0
Homepage: https://github.com/gnom2949/IUTF

Package: libiutf
Architecture: any-amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Int Unified Text Format shared libraries.


Package: libiutf-dev
Section: libdevel
Architecture: any-amd64
Depends: libiutf (= ${binary:Version}),
	libglib2.0-dev,
	${misc:Depends}
Description: Int Unified Text Format - development files