Package: libiutf-dev-dbgsym
Source: iutf
Version: 0.6.2-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Aleksandr Silaev <sasasilaev27@gmail.com>
Installed-Size: 42
Depends: libiutf-dev (= 0.6.2-1)
Section: debug
Priority: optional
Description: debug symbols for libiutf-dev
Build-Ids: f0ddbfe1e7c8ab7f8291e4403067df127ba14d55
